* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: #e3f2fd;
    position: relative;
}

.palette-list {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.palette-item {
    margin: 12px;
    padding: 7px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 10px 25px rgb(52 87 220 / 8%);
    cursor: pointer;
    transition: transform 0.3s ease;
    user-select: none;
}

.palette-item:active {
    transform: scale(0.95);
}

.palette-item:hover {
    filter: brightness(1.06);
}

.palette__color {
    width: 185px;
    height: 188px;
    border-radius: 4px;
}

.palette__info {
    margin: 14px 0 8px 0;
    text-align: center;
    color: #444;
    font-size: 1.84rem;
    font-weight: 500;
    text-transform: uppercase;
}

.refresh-btn {
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);

    padding: 13px 20px;
    background-color: #8a6cff;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgb(52 87 220 / 20%);

    font-family: "Open Sans", sans-serif;
    font-size: 1.76rem;
    font-weight: 500;
    color: #fff;
    outline: none;

    cursor: pointer;
}

.refresh-btn:hover {
    background-color: #704dff;
}
